extends _layout.jade

block index
   #wapper
      #header
        .khView
          h1.title - - 請選擇行政區 - -
          select.area(name='area')
            img(src='lightbox/icons_down.png', alt='none')
                 
            option(value='1') - - 請選擇行政區 - -
        .box
          h3.subtitle 熱門行政區
          .starArea
            button.btn(value='苓雅區') 苓雅區
            button.btn(value='三民區') 三民區
            button.btn(value='新興區') 新興區
            button.btn(value='美濃區') 美濃區
     
      #content
        .lineBox
          .line
          .border
            img.lineImage(src='lightbox/icons_down.png', alt='none')
        .list
          .areaTitle
          .row
   
     
      #footer
        h3.fTitle 高雄旅遊網
         
        h3.fSubtitle 資料來源：高雄市政府 
         
        .goTop
          a(href='#header')
            img(src='lightbox/btn_goTop.png', alt='none')
      
    



        
    